<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <link rel="stylesheet" type="text/css" media="screen"
            href="../css/consulta.css">
        <title>STIPPS</title>
    </head>
    <body>
        <h2><i>Módulo de Consulta</i></h2>
        <form id="formConsulta">
            <div id="divEntradaDato">
                <table id="tblEntradaDato">
                    <tbody id="tbEntradaDato">
                        <td>
                            AREA
                        </td>
                        <td>
                            <select name="nameArea">
                                <option>--Seleccionar--</option>
                                <option id="optID_AREA">Aqui llega los datos de
                                    la base de datos</option>
                            </select>
                        </td>
                        <tr>
                            <td>
                                CURSOS
                            </td>
                            <td>
                                <select name="nameCurso">
                                    <option>--Seleccionar--</option>
                                    <option id="optID_CURSOS">Aqui llega los
                                        datos de la base de datos</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <tr>
                                <td>
                                    DOCENTE
                                </td>
                                <td>
                                    <label id="docente"></label>
                                </td>
                            </tr>
                            <td colspan="2">
                                <input type="submit" value="Agregar"
                                    id="btnAgregar" name="nameBtnAgregar">
                                <input type="submit" value="Modificar"
                                    id="btnModificar" name="nameBtnModificar">
                                <input type="submit" value="Eliminar"
                                    id="btnEliminar" name="nameBtnEliminar">
                                <input type="submit" value="Consultar"
                                    id="btnConsultar" name="nameBtnConsultar">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
        </form>
        <div id="divSalidaDato">
            <table id="tblSalidaDato" border="3">
                <thead id="thSalidaDato">
                    <tr>
                        <td>AREA</td>
                        <td>CURSO</td>
                        <td>DOCENTE</td>
                    </tr>
                </thead>
                <tbody id="tbSalidaDato">

                </tbody>
            </table>
        </div>
        <script src="../js/consulta.js"></script>
    </body>
</html>