table,
td {
  border-style: solid;
  border: 1px solid;
  text-align: right;
}

button {
  align-self: center;
  align-content: center;
  align-items: center;
}

.support {
  text-align: center;
}

.btnRegistro {
  text-align: center;
}
