<!DOCTYPE html>
<html class="split" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/consulta.css"
      />
    <title>STIPPS</title>
  </head>

  <body>
    <h2><i>Módulo de Consulta</i></h2>
    <form id="formConsulta">
      <label for="idSelectArea">AREA:</label>
      <select id="idSelectArea" name="nameArea">
        <option id=0>--Seleccionar--</option>
      </select>
      <br />
      <label id="id_LabelCurso" for="idCurso" hidden=true>CURSOS:
      </label>
      <select id="idSelectCurso" hidden=true name="nameCurso">
        <option>--Seleccionar--</option>
      </select>
      <br />
      <input id="idInsertCurso" type="submit" onclick="addRow(event);" value="Agregar" hidden=true />
      <input type="submit" onclick="delAll(event,'tblSalidaDato');"
        value="Borrar Todo" />
    </form>
    <br />
    <table>
      <thead>
        <tr>
          <td>Id</td>
          <td>AREA</td>
          <td>CURSO</td>
          <td>DOCENTE</td>
          <td>ACTIONS</td>
        </tr>
      </thead>
      <tbody id="tblSalidaDato"></tbody>
    </table>
    <!-- Invocar los JavaScripts de esta View -->
    <script type="text/javascript" src="../js/consulta.js"></script>
  </body>
</html>
