<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Registrarse STIPPS</title>
		<link rel="stylesheet" type="text/css" media="screen"
			href="css/registrarse.css">
	</head>
	<body>
		<form id="formRegisterUser" action="/signup" method="post">
			<table>
				<thead>
					<th id="titletable" colspan="2" class="support">
						<label>Ingrese sus datos para registrarse</label>
					</th>
				</thead>
				<tbody>
					<tr>
						<td>
							<label for="txtNombre">Nombre</label>
						</td>
						<td>
							<input type="text" placeholder="Escriba su Nombre" name="txtNombre">
						</td>
					</tr>
					<tr>
						<td>
							<label for="txtApellido">Apellido</label>
						</td>
						<td>
							<input type="text" placeholder="Escriba su Apellido" name="txtApellido">
						</td>
					</tr>
					<tr>
						<td>
							<label for="txtTelefono">Telefono</label>
						</td>
						<td>
							<input type="text" placeholder="Escriba su Telefono" name="txtTelefono">
						</td>
					</tr>
					<tr>
						<td>
							<label for="txtDireccion">Direccion</label>
						</td>
						<td>
							<input type="text" placeholder="Escriba su Direccion"
								name="txtDireccion">
						</td>
					</tr>
					<tr>
						<td>
							<label for="txtPsw1">Escribir Contraseña</label>
							<br>
							<label for="txtPsw2">Confirmar Contraseña</label>
						</td>
						<td>
							<input type="text" placeholder="Escriba su Contraseña" name="txtPsw1">
							<br>
							<input type="text" placeholder="Escriba su Contraseña" name="txtPsw2">
						</td>
					</tr>
					<tr>
						<td colspan="2" class="support">
							<button>Registrarse</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<!-- JavaScript -->
		<script type="text/javascript" src="js/registrarse.js"></script>
	</body>
</html>